@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
/* Import de la police Syne et on l'applique sur toute la page. */

body * {
    font-family: 'Syne', sans-serif;
}
/* on ajoute une couleur noire au paragraphes */
p {
    color: black;
}


/* ------------- HEADER ------------ */ 


li.menu-item a:hover {
    font-weight:600;
}



.header-titles {
    margin:0px;
    padding:0px;
}


.header-inner {
    margin:0px;
    height:10px;
}

#site-header {
    display:flex;
    justify-content: flex-end;
}

/* --------------- Home page ------------- */ 

.ombre-section {
    height:40px;
    width:100%;
    background-color: #ededed;
    border-radius: 0 0 60% 60%;
    box-shadow: 0 10px 0 #E3D9D0;
}

.ombre-section2 {
    height:40px;
    width:100%;
    background-color: #ECE2DA;
    border-radius: 0 0 15% 15%;
   
}

/* -------- Page Nous rencontrer ---------- */ 

.section-nous-rencontrer {
    height:130px;
    width:100%;
    background-color: #ECE2DA;
    border-radius: 0 0 90% 90%;
   
}

/* ------------- FOOTER ------------ */ 

.footer {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color:white;
 }

.footer a {
    color:black;
    text-decoration:none;
}
