@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
/* Import de la police Syne et on l'applique sur toute la page. */

body * {
    font-family: 'Syne', sans-serif;
}
/* on ajoute une couleur noire au paragraphes */
p {
    color: black;
}

/* ------------- HEADER ------------ */ 


li.menu-item a:hover {
    font-weight:600;
    font-size:13px;
}

li.menu-item {
    font-weight:400;
    font-size:13px;
}

.header-titles {
    margin:0px;
    padding:0px;
}

.header-inner {
    margin:0px;
    height:10px;
}

#site-header {
    display:flex;
    justify-content: flex-end;
}

/* --------------- Home page ------------- */ 

.ombre-section {
    height:40px;
    width:100%;
    background-color: #ededed;
    border-radius: 0 0 60% 60%;
    box-shadow: 0 10px 0 #E3D9D0;
}

.ombre-section2 {
    height:40px;
    width:100%;
    background-color: #ECE2DA;
    border-radius: 0 0 15% 15%;
   
}

/* -------- Page Nous rencontrer ---------- */ 

.section-nous-rencontrer {
    height:130px;
    width:100%;
    background-color: #ECE2DA;
    border-radius: 0 0 90% 90%;
   
}

.a:hover {
    text-decoration:none;
}

/* ---------- Page de précommande ------------ */ 

.container {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    
}

.formulaire {
    display:flex;
justify-content:center;
align-items:center;
}

.container-2 {
    display:flex;
    flex-direction:row;
}


.spacer {
    border-left:1px solid white;
    visibility:visible;
}

.spacer-2 {
    padding-bottom:50px;
}

.form-title {
    color:white;
    font-size:30px;
    margin:0px;
    padding-bottom:20px;
}


.label-form {
    color:white;
    padding-left:0px;
}

.buttons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;

  
}

.product {
    display:flex;
    flex-direction:column;
    width:210px;
    padding:10px;
    
}


.product-img {
    padding: 10px 0 10px 0;
}

.number {
    display:flex;
    flex-direction:row;
    align-items:center;
}

.nombre {
    border-radius:7px 0 0 7px;
    height:56px;
    width:51px;
    border:none;
    text-align:center;
}

.signe-plus {
    height:28px;
    width:31px;
    color:white;
    border-radius: 0 7px 0px 0;
    border:none;
    border-bottom: 1px solid white;
    border-top: 1px solid #DC9F97;
    text-align:center;
    background-color:#DC9F97;
}

.signe-moins{
    height:28px;
    width:31px;
    color:white;
    border-radius: 0 0px 7px 0;
    border:none;
    border-top: 1px solid white;
    text-align:center;
    background-color:#DC9F97;
}


.ok {
    background-color:#E0B9B4;
    height:56px;
    width:140%;
    color:white;
    border-radius:5px;
    border:none;
    text-align:center;
    background-color:#E0B9B4;
    margin-left:10px;
 
}

.ok:hover {
    background-color:#A80C2F;
}



/* ------------- FOOTER ------------ */ 

.footer {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color:white;
 }

.footer a {
    color:black;
    text-decoration:none;
}


/* MEDIAS QUERIES */

/* Small devices (phones, less than 768px) */
@media (max-width: 700px) {
    /* ... */

    .spacer {
        display:none;
    }

}